/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.box-spacing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.paragraph-spacing {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.header-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 275px;
  background-color: #4A6567;
  color: white;
  justify-content: center;
  align-items: center;
}
.header-section .name-title-heading {
  flex-direction: row;
  width: 700px;
  height: 150px;
  text-align: center;
  justify-content: center;
  font-size: 4.5rem;
  align-content: space-around;
}
.header-section .name-title-heading h1 {
  border: 3px solid white;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0px;
}
.header-section .name-title-heading h2 {
  font-size: 1.8rem;
  width: 250px;
  height: auto;
  padding: 10px 0px;
  background-color: white;
  color: #4A6567;
  position: relative;
  left: 225px;
  bottom: 13.5%;
}
.header-section nav {
  display: flex;
  width: 700px;
  height: auto;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.6rem;
  margin-top: 40px;
}
.header-section nav a {
  text-decoration: none;
  color: white;
}
h2 {
  font-size: 4.5rem;
  font-weight: 500;
}
h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
.content-parent-container {
  display: flex;
  flex-direction: row;
  padding: 100px;
  width: 100%;
  height: 1300px;
  font-size: 1.8rem;
  color: #4A6567;
}
.content-parent-container h2 {
  text-decoration: underline;
}
.content-parent-container .left-side {
  display: flex;
  width: 65%;
  height: 1500px;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 70px;
  border-right: 3px solid #4A6567;
}
.content-parent-container .left-side .intro-container {
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
  justify-content: space-around;
}
.content-parent-container .left-side .experience-container {
  display: flex;
  width: 100%;
  height: 700px;
  flex-direction: column;
  justify-content: space-evenly;
}
.content-parent-container .left-side .experience-container h2 {
  text-decoration: underline;
}
.content-parent-container .left-side .experience-container .experience-content {
  display: flex;
  width: 100%;
  height: 600px;
  flex-direction: column;
  justify-content: space-evenly;
}
.content-parent-container .left-side .experience-container .experience-content .employers {
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
}
.content-parent-container .left-side .education {
  display: flex;
  width: 100%;
  height: 450px;
  flex-direction: column;
  justify-content: space-evenly;
}
.content-parent-container .left-side .education .school {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
}
.content-parent-container .left-side .education h4 {
  font-weight: 500;
}
.content-parent-container .right-side {
  display: flex;
  width: 35%;
  height: 1500px;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding-left: 70px;
  text-align: center;
}
.content-parent-container .right-side img {
  width: 50%;
  height: auto;
  border-radius: 100%;
  padding-top: 5px;
}
.content-parent-container .right-side .contact {
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
  justify-content: space-around;
}
.content-parent-container .right-side .skills {
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
  justify-content: space-around;
}
.content-parent-container .right-side .interests {
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
  justify-content: space-around;
}
.content-parent-container .right-side .interests ul {
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
  justify-content: space-around;
}
